nav.navbar {
    padding: 1.5em;
}



.nav-logo{
    height: 70px;
    position: absolute;
    right: 5vw;
    top:  .5rem
}
.hero {
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.hero-inner {
    width: 80vw;
}
.hero h5 {
    margin-bottom: 3rem;
}
.food-page-wrapper{
    background-color: rgb(0, 0, 0);
}
.food-header {
    margin: 2rem;
}
.food-item {
    margin-top: 2rem;    
}
.food-item-wrap {
 padding: 0.5rem;
}
.footer {
    height: fit-content
}
.footer-logo {
    height: 7em;
}
.footer-logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2em  0em 2em 0em;
}
@media (min-width: 991px){
    .nav-logo{
        left: 5vw;
    }
    .footer-logo {
        height: 7em;
    }
    .footer-logo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -2em  0em 2em 0em;
    }
}